<div class="file-container">
  <h1>{{ fileInfo.name }}</h1>
  <button
    class="close-button"
    mat-mini-fab
    color="warn"
    aria-label="Close the dialog"
    (click)="closeDialog()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <div class="file-info">
    <p class="file-info-title">Modified</p>
    <p class="file-info-data">{{ fileInfo.lastModifiedDate }}</p>

    <p class="file-info-title">Created</p>
    <p class="file-info-data">{{ fileInfo.creationDate }}</p>

    <p class="file-info-title">Sharing</p>
    <p class="file-info-data">{{ fileInfo.sharedState }}</p>

    <p class="file-info-title">Shared with</p>
    <p class="file-info-data">
      {{ sharedUsers.length > 0 ? sharedUsers : "No one yet!" }}
    </p>
  </div>
  <div class="bottom-buttons" *ngIf="isFile">
    <button
      mat-stroked-button
      color="primary"
      (click)="downloadFile(true)"
      matTooltip="Download file"
      aria-label="Download file"
    >
      <mat-icon>get_app</mat-icon>
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="downloadFile(false)"
      [disabled]="!checkMimeType()"
      matTooltip="Open in a new tab if the file is supported"
      aria-label="Open in browser"
    >
      <mat-icon>open_in_browser</mat-icon>
    </button>
  </div>
</div>
