@use "src/styles/global/functions" as f;

.file-container {
  text-align: center;
  background-color: f.color(bg-color);
  color: f.color(text-color);
  width: 100%;
  height: 100%;
  padding: 4% 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.file-info {
  text-align: left;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: auto;
}
.file-info-title {
  color: f.color(secondary-color);
  font-size: 1em;
  margin-bottom: 0;
}
.file-info-data {
  color: f.color(text-color);
  font-size: 1.3em;
  margin-top: 0;
}

.bottom-buttons {
  margin-top: auto;
}

.bottom-buttons button {
  margin: 4px;
}
.bottom-buttons button mat-icon {
  margin: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
