$accent-color: #c2185b;
$hover-color: #221419;
$active-color: #3b1e28;
$secondary-color: #b0bec5;

.sidenav {
    height: 100%;
    width: 15%;
    padding-top: 5%;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sidenav-inner{
    height: 90%;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .sidenav{
        width: 80%;
    }
}

.progress-bar-space-usage{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
}

.sidenav-container{
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

.sidenav-title{
    padding-left: 20px;
    padding-right: 20px;
}

.sidenav-entry{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.entry-name{
    margin-left: 5px;
}
.sidenav-entry:hover{
    background-color: $hover-color;
}