@use "src/styles/global/functions" as f;

.sidenav {
  height: 100%;
  width: 20rem;
  background-color: f.color(bg-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidenav-navigation {
  width: 100%;
  padding-top: 2rem;
  box-sizing: border-box;
}

.progress-bar-space-usage {
  margin: 2rem 3rem 3rem 3rem;
}

.sidenav-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: f.color(bg-color);
}

.sidenav-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1rem;
  height: 2.4rem;
  border-bottom: 1px solid f.color(accent-color);
  margin: 0 2.5rem 0 2.5rem;
}

.sidenav-entry:first-child {
  border-top: 1px solid f.color(accent-color);
}

.sidenav-bottom {
  margin-top: auto;
}

.entry-name {
  margin-left: 1rem;
}

.sidenav-entry:hover {
  background-color: f.color(hover-color);
}
