@use "src/styles/global/functions" as f;

.sidenav {
  height: 100%;
  width: 15%;
  padding-top: 5%;
  background-color: f.color(bg-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidenav-inner {
  height: 90%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .sidenav {
    width: 80%;
  }
}

.progress-bar-space-usage {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: auto;
}

.sidenav-container {
  height: 100%;
  width: 100%;
  background-color: f.color(bg-color);
}

.sidenav-title {
  padding-left: 20px;
  padding-right: 20px;
}

.sidenav-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.entry-name {
  margin-left: 5px;
}
.sidenav-entry:hover {
  background-color: f.color(hover-color);
}
