@use "src/styles/global/functions" as f;
@use "global/components";

html {
  --mdc-list-list-item-label-text-font: "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;
  --mdc-list-list-item-label-text-line-height: 20px;
  --mdc-list-list-item-label-text-size: 14px;
  --mdc-list-list-item-label-text-weight: 400;
  --mdc-list-list-item-label-text-tracking: 0.0178571429em;
}

html,
body {
  background-color: rgb(20, 20, 20);
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif !important;
}

.mat-typography {
  font:
    400 14px/20px "Segoe UI",
    Roboto,
    "Helvetica Neue",
    sans-serif !important;
}

.file-page-dialog {
  width: 30%;
  height: 60%;
}
.edit-form-dialog {
  width: 20%;
  height: 60%;
}

.confirm-dialog {
  width: 15%;
  height: 20%;
}

.file-upload-dialog {
  width: 20%;
  height: 30%;
}

@media only screen and (max-width: 767px) {
  .file-page-dialog {
    width: 70%;
    height: 60%;
  }
  .edit-form-dialog {
    width: 70%;
    height: 60%;
  }

  .confirm-dialog {
    width: 60%;
    height: 30%;
  }

  .file-upload-dialog {
    width: 60%;
    height: 50%;
  }
}

.link {
  color: f.color(accent-color);
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.margin-top{
  margin-top: 1rem;
}

.margin-bottom{
  margin-bottom: 1rem;
}

.margin-left{
  margin-left: 1rem;
}

.margin-right{
  margin-right: 1rem;
}
