@use "src/styles/global/functions" as f;

.expansion-panel {
  background-color: f.color(bg-color);
}

.user-entry,
.user-add-form,
.icon-name-container {
  display: flex;
  flex-direction: row;
  //align-items: center;
}

.icon-name-container .per-item-button {
  margin-left: auto;
}

.icon-name-container .item {
  margin: 0;
  padding-left: 5px;
}
