<div>
<mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header class="expansion-panel">
      <mat-panel-title>
        Shared with users
      </mat-panel-title>
      <!-- <mat-panel-description>
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description> -->
    </mat-expansion-panel-header>

    <mat-list>
        <mat-list-item *ngIf="users.length == 0">
            <div matListItemTitle>No users!</div>
          </mat-list-item>

        <mat-list-item *ngFor="let user of users" class="user-entry">
            <div class="icon-name-container">
              <mat-icon matListItemIcon>person</mat-icon>
              <div class="item" matListItemTitle>{{user.name}}</div>
              <button class="per-item-button" mat-icon-button color="primary" (click)="removeUser(user)"
                matTooltip="remove user" aria-label="remove user">
                    <mat-icon>remove</mat-icon>
              </button>
            </div>
            
        </mat-list-item>
    </mat-list>
    <form [formGroup]="userAddForm" (ngSubmit)="submitForm()" class="user-add-form">
        <mat-form-field appearance="outline">
            <mat-label>Share with user</mat-label>
            <input matInput formControlName="username" type="text" required />
        </mat-form-field>
        <button class="per-item-button" mat-icon-button color="primary" type="submit"
                matTooltip="add user" aria-label="add user">
                    <mat-icon>add</mat-icon>
        </button>

    </form>

  </mat-expansion-panel>
</div>