@use "src/styles/global/functions" as f;

.mdc-list-item__secondary-text {
  font-family: var(--mdc-list-list-item-label-text-font) !important;
  line-height: var(--mdc-list-list-item-label-text-line-height) !important;
  font-size: var(--mdc-list-list-item-label-text-size) !important;
  font-weight: var(--mdc-list-list-item-label-text-weight) !important;
  letter-spacing: var(--mdc-list-list-item-label-text-tracking) !important;
  color: var(--mdc-list-list-item-label-text-color) !important;
}

.mdc-list-item__secondary-text::before {
  display: none !important;
}

.mat-mdc-select-panel,
.mat-mdc-option.mdc-list-item {
  background-color: f.color(bg-color) !important;
}

.mat-mdc-option.mdc-list-item:hover {
  background-color: f.color(hover-color) !important;
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.mat-mdc-tooltip .mdc-tooltip__surface{
  background-color: f.color(bg-color) !important;
  border: 1px solid f.color(accent-color) !important;
  color: f.color(text-color) !important;
}
