/* You can add global styles to this file, and also import other style files */

html, body{
    background-color: rgb(20, 20, 20);
}
html, body { height: 100%; }
body { margin: 0; font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif !important; }

.filepage-dialog{
    width: 30%;
    height: 60%;
}
.editform-dialog{
    width: 20%;
    height: 60%;
}

.confirm-dialog{
    width: 15%;
    height: 20%;
}

.fileupload-dialog{
    width: 20%;
    height: 30%;
}

@media only screen and (max-width: 767px) {
    .filepage-dialog{
        width: 70%;
        height: 60%;
    }
    .editform-dialog{
        width: 70%;
        height: 60%;
    }
    
    .confirm-dialog{
        width: 60%;
        height: 30%;
    }
    
    .fileupload-dialog{
        width: 60%;
        height: 50%;
    }
}