<div class="container">
  <div class="login-form mat-elevation-z8">
    <h1>Log in</h1>
  <form (ngSubmit)="onSubmit(username.value, pass.value)">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput #username />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" #pass />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <button class="margin-bottom" mat-stroked-button color="primary" type="submit" mat-button>
      Login
    </button>
    <span><br>Dont have an account?<br></span>
    <span class="link" routerLink="/register">Register<br></span>
  </form>
  </div>
</div>
